<h1>Exercices</h1>


<h3>Nouveau component</h3>
<input type="text" [(ngModel)]="nom">
<br>
<button (click)="onClick()">Cliquer</button>
<button (click)="clear()">Reset</button>

<div>
    <p>Nombre de tentative de validations : {{tentValidation}} </p>
    <p>Nombre de noms validés : {{nbrValide}}</p>
    <p>Dernier nom validé : {{lastNomValide}} </p>
</div>

<div class="obj">
    <p>Réponse (service Objectif) :</p>
<p *ngIf="recupObjBool" [ngStyle]="{ 'background-color': recupColor }" > Bonjour {{ recupObjGroup }} !</p>

<button (click)="getResponse()">Récupérer pseudo</button><br>
</div>


<router-outlet></router-outlet>