<h4>Ajouter une tâche</h4>

<div [formGroup]="tacheInsertForm" (task-go-down)="onEnd()" (task-go-up)="onBegin()">
    <div>
        <label for="tache-name">Nom</label><br>
        <input type="text" id="tache-name" formControlName="nom"><br>
    </div>
    <div>
        <label for="tache-date">Date</label><br>
        <input type="date" id="tache-date" formControlName="date"><br>
    </div>
    <div>

        <button type="submit" (click)="onBegin()">Au début</button>
        <button type="submit" (click)="onEnd()">À la fin</button>
    </div>
    
</div>

