<h4>Formulaire d'insertion des produits</h4>

<form>

    <div>
        <label for="produit-marque">Marque</label>
        <input type="text" id="produit-marque">
    </div>

    <div>
        <label for="produit-modele">Modèle</label>
        <input type="text" id="produit-modele">
    </div>

    <div>
        <label for="produit-prix">Prix</label>
        <input type="number" id="produit-prix">
    </div>

    <div>
        <label for="produit-stock">Stock</label>
        <input type="number" id="produit-stock">
    </div>

    <div>
        <input type="checkbox" id="produit-envente"> <label for="produit-envente">En vente</label>
    </div>

    <button type="submit">Insérer</button>

</form>