<h4>Ajout d'un plat</h4>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="input-nom">Nom </label>
        <input type="text" id="input-nom" formControlName="input-nom">
    </div>
    <label for="">type</label>
        <select placeholder="type" formControlName="type">
            <option value="plat">plat</option>
            <option value="entree">entree</option>
            <option value="dessert">dessert</option>
        </select>
    <div>
        <label for="input-prix">Prix </label>
        <input type="number" id="input-prix" formControlName="input-prix">
    </div>

    <button type="submit">Et un de plus !</button>
</form>
