<h3>TP2: Exercice du Mastermind</h3>

<p>Voici un jeu du MasterMind: vous devez trouver une combinaison de 4 couleurs parmi les 7 proposées.</p>
<p>Essayez de la trouver en moins de 10 essais.</p>
<p>Bon amusement !</p>

<h4>Couleurs disponibles pour le jeu</h4>
<div>
    <table class="tab2">
        <tr class="ligne">
            <td *ngFor="let color of tabColor"> {{ color }} </td>
        </tr>
        <tr class="ligne">
            <td class="case1">1</td>
            <td class="case2">2</td>
            <td class="case3">3</td>
            <td class="case4">4</td>
            <td class="case5">5</td>
            <td class="case6">6</td>
            <td class="case7">7</td>
        </tr>
    </table>
</div>
<br>

<div *ngIf="inGame" >
    <p>Nombre d'essais restants : {{ (10 - compteur) }} </p>
</div>

<div *ngIf="playerWin">
    <p>Bravo, vous avez gagné la partie !</p>
</div>

<div *ngIf="wrongPlace">
    <p>Vous n'avez pas la bonne solution. Recommencez !</p>
</div>

<div *ngIf="endGame">
    <p>Vous avez utilisé vos 10 essais. Game Over !</p>
</div>
<br>
<div>
    <table class="tab">
        <tr class="ligne">
            <td [ngStyle]="{'background-color': color1}"
                [ngClass]="{'correct' : color1 == soluce1 && valide, 'false' : color1 != soluce1 && unvalid }">Couleur 1</td>
            <td [ngStyle]="{'background-color': color2}"
                [ngClass]="{'correct' : color2 == soluce2 && valide, 'false' : color2 != soluce2 && unvalid }">Couleur 2</td>
            <td [ngStyle]="{'background-color': color3}"
                [ngClass]="{'correct' : color3 == soluce3 && valide, 'false' : color3 != soluce3 && unvalid }">Couleur 3</td>
            <td [ngStyle]="{'background-color': color4}"
                [ngClass]="{'correct' : color4 == soluce4 && valide, 'false' : color4 != soluce4 && unvalid }">Couleur 4</td>
        </tr>
        <tr class="ligne">
            <td class="case">
                <select [(ngModel)]="color1" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color2" (change)="touched()" >  
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color3" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color4" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
        </tr>
    </table>

    <button (click)="reset()">Reset</button>
    <button (click)="valid()">Valider</button>
    <button (click)="newGame()" >Nouvelle partie</button>
</div>





