<h3>TP2: Exercice du Mastermind</h3>

<p>Voici un jeu du MasterMind: vous devez trouver une combinaison de 4 couleurs parmi les 7 proposées.</p>
<p>Bon amusement !</p>

<h4>Couleurs disponibles pour le jeu</h4>
<div>
    <table class="tab2">
        <tr class="ligne">
            <td class="case">Vert</td>
            <td class="case">Bleu</td>
            <td class="case">Rouge</td>
            <td class="case">Mauve</td>
            <td class="case">Jaune</td>
            <td class="case">Brun</td>
            <td class="case">Rose</td>
        </tr>
        <tr class="ligne">
            <td class="case1">1</td>
            <td class="case2">2</td>
            <td class="case3">3</td>
            <td class="case4">4</td>
            <td class="case5">5</td>
            <td class="case6">6</td>
            <td class="case7">7</td>
        </tr>
        
    </table>
</div>
<br>

<div>
    <table class="tab">
        <tr class="ligne">
            <td [ngStyle]="{'background-color': color1}">Couleur 1</td>
            <td [ngStyle]="{'background-color': color2}">Couleur 2</td>
            <td [ngStyle]="{'background-color': color3}">Couleur 3</td>
            <td [ngStyle]="{'background-color': color4}">Couleur 4</td>
        </tr>
        <tr class="ligne">
            <td class="case">
                <select [(ngModel)]="color1">
                    <option value="green">Vert</option>
                    <option value="blue">Bleu</option>
                    <option value="red">Rouge</option>
                    <option value="purple">Mauve</option>
                    <option value="yellow">Jaune</option>
                    <option value="brown">Brun</option>
                    <option value="pink">Rose</option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color2">
                    <option value="green">Vert</option>
                    <option value="blue">Bleu</option>
                    <option value="red">Rouge</option>
                    <option value="purple">Mauve</option>
                    <option value="yellow">Jaune</option>
                    <option value="brown">Brun</option>
                    <option value="pink">Rose</option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color3">
                    <option value="green">Vert</option>
                    <option value="blue">Bleu</option>
                    <option value="red">Rouge</option>
                    <option value="purple">Mauve</option>
                    <option value="yellow">Jaune</option>
                    <option value="brown">Brun</option>
                    <option value="pink">Rose</option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color4">
                    <option value="green">Vert</option>
                    <option value="blue">Bleu</option>
                    <option value="red">Rouge</option>
                    <option value="purple">Mauve</option>
                    <option value="yellow">Jaune</option>
                    <option value="brown">Brun</option>
                    <option value="pink">Rose</option>
                </select>
            </td>
        </tr>
    </table>

    <button>Reset</button>
    <button>Valider</button>
</div>

<br>





