<h3>TP2: Exercice du Mastermind</h3>

<p>Voici un jeu du MasterMind: vous devez trouver une combinaison de 4 couleurs parmi les 7 proposées.</p>
<p>Essayez de la trouver en moins de 10 essais. Pour commencer un nouveau jeu, commencez par cliquer sur le bouton "Nouvelle partie".</p>
<p>Bon amusement !</p>

<h4>Couleurs disponibles pour le jeu</h4>
<div>
    <table class="tab2">
        <tr class="ligne">
            <td *ngFor="let color of tabColor" id="color"> {{ color }} </td>
        </tr>
        <tr class="ligne">
            <td class="case1">1</td>
            <td class="case2">2</td>
            <td class="case3">3</td>
            <td class="case4">4</td>
            <td class="case5">5</td>
            <td class="case6">6</td>
            <td class="case7">7</td>
        </tr>
    </table>
</div>
<br>

<p>Soluce 1 : {{ soluce1 }} </p>
<p>Soluce 2 : {{ soluce2 }} </p>
<p>Soluce 3 : {{ soluce3 }} </p>
<p>Soluce 4 : {{ soluce4 }} </p>

<div *ngIf="inGame" >
    <p>Nombre d'essais restants : {{ (10 - compteur) }} </p>
</div>

<div *ngIf="playerWin">
    <p>Bravo, vous avez gagné la partie !</p>
    <p>Votre nombre d'essais était de {{ (10-compteur) }}. Pourquoi ne pas essayer de s'améliorer ? </p>
</div>

<div *ngIf="wrongPlace">
    <p>Vous n'avez pas la bonne solution. Recommencez !</p>
</div>

<div *ngIf="endGame">
    <p>Vous avez utilisé vos 10 essais. Game Over !</p>
    <p>La solution :</p>
    <table class="tab">
        <tr class="ligne">
            <td [ngStyle]=" { 'background-color' : soluce1 } " > {{ soluce1 }} </td>
            <td [ngStyle]=" { 'background-color' : soluce2 } " > {{ soluce2 }} </td>
            <td [ngStyle]=" { 'background-color' : soluce3 } " > {{ soluce3 }} </td>
            <td [ngStyle]=" { 'background-color' : soluce4 } " > {{ soluce4 }} </td>
        </tr>
    </table>
</div>
<br>
<div>
    <table class="tab">
        <tr class="ligne">
            <td [ngStyle]="{'background-color': color1}"
                [ngClass]="{'correct' : color1 == soluce1 && valide,
                'uncorrect' : soluce1IsPlaced,
                'false' : color1 != soluce1 && unvalid }">Couleur 1</td>
            <td [ngStyle]="{'background-color': color2}"
                [ngClass]="{'correct' : color2 == soluce2 && valide, 
                'uncorrect' : soluce2IsPlaced,
                'false' : color2 != soluce2 && unvalid }">Couleur 2</td>
            <td [ngStyle]="{'background-color': color3}"
                [ngClass]="{'correct' : color3 == soluce3 && valide, 
                'uncorrect' : soluce3IsPlaced,
                'false' : color3 != soluce3 && unvalid }">Couleur 3</td>
            <td [ngStyle]="{'background-color': color4}"
                [ngClass]="{'correct' : color4 == soluce4 && valide, 
                'uncorrect' : soluce4IsPlaced,
                'false' : color4 != soluce4 && unvalid }">Couleur 4</td>
        </tr>
        <tr class="ligne">
            <td class="case">
                <select [(ngModel)]="color1" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color2" (change)="touched()" >  
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color3" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
            <td class="case">
                <select [(ngModel)]="color4" (change)="touched()" >
                    <option *ngFor="let color of tabColor"> {{ color }} </option>
                </select>
            </td>
        </tr>
    </table>

    <button (click)="reset()">Reset</button>
    <button (click)="valid()">Valider</button>
    <button (click)="ngOnInit()" (click)="newGame()" >Nouvelle partie</button>
</div>





