<h1>Bienvenue sur mon site: {{ title + " le titre" }} {{1+1}} </h1> <!--les accolades servent à concaténer avec d'autres éléments à ajouter-->

<!-- Manière de faire à l'html -->
<!-- <a href="http://localhost:4200/demo">Demo</a>
<a href="http://localhost:4200/exo">Exercice</a> -->

<nav>
    <a routerLink = "/demo">Demo</a><br>
    <a routerLink="/demo/d2">Page D2</a><br>
    <br>
    <a routerLink = "/exo">Exercice</a><br>
    <a routerLink="/exo/ex2">Page ex2</a>
</nav>

<div>
    <router-outlet></router-outlet>
</div>
<!-- Selon l'url, on charge la partie qu'on préfère: /demo ou /exo -->
