<body>
    <div>
    <h1 id="title">Bienvenue sur mon site: {{ title + " le titre" }} {{1+1}} </h1> <!--les accolades servent à concaténer avec d'autres éléments à ajouter-->

<!-- Manière de faire à l'html -->
<!-- <a href="http://localhost:4200/demo">Demo</a>
<a href="http://localhost:4200/exo">Exercice</a> -->

<nav>
    <a routerLink = "/accueil">Accueil</a><br>
    <a routerLink = "/demo">Demo</a><br>
    <a routerLink = "/exo">Exercices</a><br>
</nav>

<div>
    <router-outlet></router-outlet>
</div>
<!-- Selon l'url, on charge la partie qu'on préfère: /demo ou /exo -->

</div>

</body>
