<h3>Produits</h3>

<span>
    <div class="tab" *ngFor="let produit of tabProduit; let i = index"> 
        <span [ngStyle]=" { 'background-color': produit.en_vente ? 'white' : 'red' } ">
            Id = {{ produit.id }} |
            Marque = {{ produit.marque }} |
            Modèle = {{ produit.modele }} |
            Stock = {{ produit.stock }} |
            Prix = {{ produit.prix }} euros
            <button (click)="enVente(i)" > Merde </button>
        </span>
    </div>
</span>

<!-- <div >
    <p>Veuillez choisir le produit à sélectionner : </p>
    <select [(ngModel)]="select"; let i = index >
        <option value="produit1">Produit 1</option>
        <option value="produit2">Produit 2</option>
        <option value="produit3">Produit 3</option>
    </select>
    <button (click)="onClick(id)">Sélectionner</button>
</div> -->

