<h3>Produits</h3>

<span>
    <div class="tab" *ngFor="let produit of tabProduit; let i = index"> 
        <span [ngStyle]=" { 'background-color': produit.en_vente ? 'white' : 'red' } ">
            Id = {{ produit.id }} |
            Marque = {{ produit.marque }} |
            Modèle = {{ produit.modele }} |
            Stock = {{ produit.stock }} |
            Prix = {{ produit.prix }} euros
            <button (click)="enVente(i)"> {{ produit.en_vente ? 'En vente' : 'Plus de stock' }} </button>
        </span>
    </div>
</span>

